<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
		<link th:href="@{/css/style.css}" rel="stylesheet" />
	</head>
	<body>
		<p>
			Menu :
		</p>
		<p>
			<a th:href="@{/user/List}">Liste d'utilisateurs</a>
		</p>
		<p>
			<a th:href="@{/user/Fill}">Remplir la liste d'utilisateurs</a>
		</p>
		<h1>Page d'acceuil du site</h1>
		<p>
			Ceci est la page de menu de base.
		</p>
		<script th:src="@{/js/script.js}"></script>
	</body>
</html>