<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Liste des Utilisateurs</title>
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<p>
		Menu :
	</p>
	<p>
		<a th:href="@{/}">Home</a>
	</p>
	<h1>Liste des Utilisateurs</h1>
	<table>
		<tr>
			<th>Login</th>
			<th>Password</th>
		</tr>
		<tr th:each="user : ${users}">
			<th th:text=${user.login}></th>
			<th th:text=${user.password}></th>
		</tr>
	</table>
	<script th:src="@{/js/script.js}"></script>
</body>
</html>